---
import '@fontsource/inter/400.css'
import '@fontsource/inter/500.css'
import '@fontsource/inter/600.css'
import '@fontsource/inter/700.css'
import '../styles/global.css'

import { cms } from '@utils/cms'
import { Header } from '@components/header'
import { Footer } from '@/components/footer'

const websiteSettings = await cms.findGlobal({ slug: 'settings' })
const headerData = await cms.findGlobal({ slug: 'header' })
---

<html lang='pl'>
    <head>
        <meta charset='utf-8' />
        <link rel='sitemap' href='/sitemap-index.xml' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>Wlodev Website Template</title>
    </head>
    <body>
        <Header data={headerData} websiteSettings={websiteSettings} />
        <slot />
        <Footer websiteSettings={websiteSettings} />
    </body>
</html>
